.path {
  width: fit-content;
  display: flex;
  padding: 2px 20px;
  border-radius: 50px;
  background-color: #433cae;
  margin: 0px 30px 10px 30px;
  gap: 10px;
}
.home {
  color: white;
  font-family: "Yusei Magic", sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 1px;
  &:hover {
    background-color: #857ee7;
    border-radius: 20px;
    padding: 1px 20px;
  }
}
.currentPath p {
  color: white;
  font-family: "Yusei Magic", sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
}
.icon {
  font-size: 16px;
}
