.container {
  max-width: 500px;
  min-width: 250px;
  margin-left: 10%;
  margin-right: 20px;
  margin-top: 5%;
}
.creator_container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
}

.creator_container p {
  font-family: "Megrim", system-ui;
  font-size: clamp(30px, 5vw, 45px);
  color: white;
  -webkit-text-stroke: 2px white;
}
.talha {
  font-family: "Megrim", system-ui;
  font-size: clamp(30px, 5vw, 45px);
  color: orange;
  -webkit-text-stroke: 2px orange;
}
.bottom_container {
  margin-top: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.para_container {
  width: fit-content;
}
.para_container p {
  font-size: clamp(14px, 2.5vw, 20px);
  font-family: "Meera Inimai", sans-serif;
  color: rgba(255, 255, 255, 0.661);
}
.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: fit-content;
  margin-left: 1%;
}
.icon_container .icon {
  color: rgba(255, 255, 255, 0.661);

  font-size: 20px;
  margin-left: 8px;
}
@media screen and (max-width: 500px) {
  .creator_container p {
    -webkit-text-stroke: 1px white;
  }
  .icon_container .icon {
    color: white;
    font-size: 14px;
    margin-left: 5px;
  }
  .container {
    margin-top: 15%;
  }
}
