.container {
  max-width: 500px;
  min-width: 250px;
  margin-left: 7%;
  margin-right: 20px;
  margin-top: 95px;
}
.creator_container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
}

.creator_container p {
  font-family: "Megrim", system-ui;
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 4px white;
  letter-spacing: 1px;
}
.talha {
  color: orange;
  -webkit-text-stroke: 4px orange;
  letter-spacing: 1px;
}
.bottom_container {
  margin-top: 14px;
  margin-left: 1%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.para_container {
  width: fit-content;
}
.para_container p {
  font-size: 18px;
  font-family: "Metrophobic", sans-serif;
  color: white;
  margin-bottom: 5px;
}
.icon_container {
  overflow: hidden;
  margin-left: 10px;
  width: 220px;
  display: flex;
}
.icon_scroll_Box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
  overflow: hidden;
  flex-shrink: 0;
  animation: scroll 15s linear infinite;
}

.icon_container .icon {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}
@keyframes scroll {
  0% {
    transform: translate();
  }
  100% {
    transform: translatex(-100%);
  }
}
@media screen and (max-width: 800px) {
  .container {
    margin-top: 15%;
  }
}

@media screen and (max-width: 500px) {
  .bottom_container {
    display: block;
  }
  .icon_container {
    margin-left: -5px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 387px) {
  .creator_container p {
    font-size: 40px;
  }
}
/* 
@media screen and (max-width: 370px) {
  .para_container p {
    font-size: 9px;
  }
}
@media screen and (max-width: 310px) {
  .para_container p {
    font-size: 8px;
  }

  .creator_container p {
    font-size: 25px;
  }
  .creator_container talha {
    font-size: 25px;
  }
} */
