.logo_cont {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.logo_word {
  color: white;
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-size: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.logo_design {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_design .orange_dot {
  width: 45px;
  height: 20px;
  border-radius: 50px;
  background-color: #fab440;
  margin-right: 3px;
  animation: rotate 2s ease-in-out infinite;
}
.logo_design .purple_dot {
  width: 35px;
  height: 20px;
  border-radius: 50px;
  background-color: #433cae;
  margin-right: 3px;
}
.logo_design .aqua_dot {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #128899;
  margin-right: 3px;
}
@keyframes rotate {
  50% {
    transform: rotateX("180deg");
  }
}
