nav {
  width: 100%;
  height: 50px;

  display: block;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  background-color: #16274d;
  box-shadow: 0px 0px 100px 90px #16274d;
  animation: border 7s 1.5s ease-in-out infinite;
}
nav .logo_cont {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
nav .logo_word {
  color: white;
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-size: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
nav .logo_design {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo_design .orange_dot {
  width: 35px;
  height: 20px;
  border-radius: 50px;
  background-color: #fab440;
  margin-right: 3px;
}
nav .logo_design .purple_dot {
  width: 25px;
  height: 20px;
  border-radius: 50px;
  background-color: #433cae;
  margin-right: 3px;
}
nav .logo_design .aqua_dot {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #128899;
  margin-right: 3px;
}
@keyframes border {
  0% {
    box-shadow: 0px 0px 100px 90px #16274d;
  }
  50% {
    box-shadow: 0px 0px 250px 250px #263b69;
    background-color: #263b69;
  }
  100% {
    box-shadow: 0px 0px 100px 90px #16274d;
  }
}
@media screen and (max-width: 450px) {
  nav .logo_word {
    font-size: 20px;
  }
}
