.loading {
  background: linear-gradient(
    100deg,
    rgba(232, 232, 232, 0.3) 20%,
    rgba(255, 255, 255, 0.399) 50%,
    rgba(232, 232, 232, 0.3) 60%
  );
  background-position: 1000px 1000px;
  animation: loading 0.5s infinite;
}
@keyframes loading {
  0% {
    background-position: -500px 0px;
  }
  100% {
    background-position: 1000px 0px;
  }
}
.app_container {
  width: 737px;
  margin: 50px 30px 20px 7%;
  border-radius: 50px;
  padding: 0px 13px;
  height: 500px;
}
