.sidebar_apps {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 12px;
  color: black;
  transition: 0.1s ease-out;
  background-color: #ffffff;
  width: 90%;
  cursor: pointer;
  padding: 8px 10px;
  gap: 15px;
  box-shadow: inset -4px -5px 20px 0px #84848485;
}
.sidebar_apps:hover {
  text-shadow: 0px 0px 1px #000000;
  border-radius: 10px;
  box-shadow: none;
  background-image: linear-gradient(to left, #ffffff, rgb(107, 235, 255));
  transform: scale(1.1);
}

.app_name {
  font-size: 14px;
  /* font-family: "Nova Square", sans-serif; */
  font-family: "Metrophobic", sans-serif;
  font-weight: 600;
}
.app_icon {
  font-size: 30px;
}
