.app {
  width: 150px;
  height: 170px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0px 0px 30px 1px#443cae72;
  font-weight: 900;
  transition: 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #128899;
    box-shadow: 5px 10px 0px 0px #433cae;
    border: 2px solid black;
    transform: translate(-5px, -12px);
    border-radius: 20px;
    text-shadow: 0px 0px 15px #00ddff;
  }
  &:hover .icon {
    transition: 0.1s ease-out;
    transform: scale(1.1);
  }
}
.icon {
  font-size: 50px;
  color: #2d2d2d;
}

.app p {
  width: 80%;
  text-align: center;
  font-size: 15px;
  font-family: "Nova Square", sans-serif;
}

@media screen and (max-width: 435px) {
  .app {
    width: 130px;
    height: 130px;
    border-radius: 20px;
  }
  .icon {
    font-size: 50px;
  }
  .app p {
    font-size: 15px;
    width: 80px;
  }
}
@media screen and (max-width: 360px) {
  .app {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
  .icon {
    font-size: 40px;
  }
  .app p {
    font-size: 13px;
  }
}
