.MAIN {
  max-width: 1440px;
  margin: auto;
}

body {
  cursor: url(cursor2.png), auto;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(#07143f, #07143f, #34073f);
  /* background: linear-gradient(#642bff, #8a027a); */
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  box-shadow: inset 0px 20px 8px 0px rgb(16, 197, 225),
    inset 0px -20px 8px 0px rgb(16, 197, 225);
  border-radius: 10px;
  border: 1px solid white;
}
::selection {
  background: rgba(90, 225, 255, 0.846);
}
