.line_container {
  width: 60%;
  margin-left: 7%;
  padding: 7% 0px 10% 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.orange {
  width: 50%;
  border-top: 2px solid #fab440;
  animation: orangeAnimation 5s infinite ease-in-out;
}
.purple {
  width: 30%;
  border-top: 2px solid #433cae;
  animation: purpleAnimation 5s 1s infinite ease-in-out;
}
.aqua {
  width: 20%;
  border-top: 2px solid#128899;
  animation: aquaAnimation 5s 2s infinite ease-in-out;
}
@keyframes orangeAnimation {
  50% {
    box-shadow: 0px 0px 10px 3px #fab440;
  }
}
@keyframes purpleAnimation {
  50% {
    box-shadow: 0px 0px 10px 3px #544cc9;
  }
}

@keyframes aquaAnimation {
  50% {
    box-shadow: 0px 0px 10px 3px #128899;
  }
}

@media screen and (max-width: 800px) {
  .line_container {
    width: 60%;
    padding: 10% 0px 15% 0px;
  }
}
