.line_container {
  width: 40%;
  margin-left: 10%;
  padding: 6% 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.orange {
  width: 50%;
  border-top: 2px solid #fab440;
}
.purple {
  width: 30%;
  border-top: 2px solid #433cae;
}
.aqua {
  width: 20%;
  border-top: 2px solid#128899;
}

@media screen and (max-width: 800px) {
  .line_container {
    width: 60%;
    padding: 10% 0px;
  }
}
